:root {
  --trans-light: rgba(255, 255, 255, 0.75);
  --trans-dark: rgba(25, 25, 25, 0.6);
  --border-style: 1px solid rgb(169, 169, 169);
  --backdrop-filter: blur(5px) saturate(150%);
}

@font-face {
  font-family: "iconfont";
  src: url("/source/fonts/iconfont.woff2") format("woff2"),
    url("/source/fonts/iconfont.woff") format("woff"),
    url("/source/fonts/iconfont.ttf") format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 3em;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhuye1:before {
  content: "\e619";
}

.icon-youxiang:before {
  content: "\e666";
}

.icon-gongju:before {
  content: "\e668";
}

.icon-sousuo:before {
  content: "\e608";
}

.icon-wenjianjia:before {
  content: "\e60b";
}

.icon-huabanfuben:before {
  content: "\e605";
}

.icon-MBEfenggeduosetubiao-tupian:before {
  content: "\e641";
}

.icon-guidang:before {
  content: "\e6b9";
}

.icon-archive-fill:before {
  content: "\e610";
}

.icon-kongjian:before {
  content: "\e602";
}

.icon-shejiaoAPP:before {
  content: "\e6bc";
}

.icon-biaoqian2:before {
  content: "\e611";
}

.icon-gongju1:before {
  content: "\e61b";
}

.icon-wenjianjia1:before {
  content: "\e61a";
}

.icon-xinfeng:before {
  content: "\e61c";
}

.icon-QQ:before {
  content: "\ea94";
}

.icon-github-fill:before {
  content: "\eac8";
}

.icon-fenleiguanli:before {
  content: "\e60f";
}

.icon-liuyan:before {
  content: "\e61e";
}

.icon-xiangce:before {
  content: "\ffdd";
}

.icon-lianjie-02:before {
  content: "\e631";
}

.icon-guanyu-banben:before {
  content: "\e6f9";
}

.icon-yinlehe:before {
  content: "\e676";
}

.icon-web_weixin:before {
  content: "\e647";
}

.icon-fanjutuijian:before {
  content: "\e6d5";
}

.icon-wodezhuifan:before {
  content: "\e6d8";
}

.icon-shejiaoxinxi:before {
  content: "\e620";
}

.icon-bofangqi:before {
  content: "\e629";
}

/* 时间轴生肖icon */
svg.icon {
  /* 这里定义svg.icon，避免和Butterfly自带的note标签冲突 */
  width: 1.2em;
  height: 1.2em;
  /* width和height定义图标的默认宽度和高度*/
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

/* 页脚与头图透明 */
#footer {
  background: transparent !important;
}
#page-header {
  background: transparent !important;
}

/* 白天模式遮罩透明 */
#footer::before {
  background: transparent !important;
}
#page-header::before {
  background: transparent !important;
}

/* 夜间模式遮罩透明 */
[data-theme="dark"] #footer::before {
  background: transparent !important;
}
[data-theme="dark"] #page-header::before {
  background: transparent !important;
}

/* 小冰分类分类磁铁黑夜模式适配 */
/* 一般状态 */
[data-theme="dark"] .magnet_link_context {
  background: #1e1e1e;
  color: antiquewhite;
}
/* 鼠标悬浮状态 */
[data-theme="dark"] .magnet_link_context:hover {
  background: #3ecdf1;
  color: #f2f2f2;
}

/* 字体设置 */
@font-face {
  /* 为载入的字体取名字(随意) */
  font-family: "YSHST";
  /* 字体文件地址(相对或者绝对路径都可以) */
  src: url();
  /* 定义加粗样式(加粗多少) */
  font-weight: normal;
  /* 定义字体样式(斜体/非斜体) */
  font-style: normal;
  /* 定义显示样式 */
  font-display: block;
}

/* 修复文章双侧栏bug */
/* 翻页按钮居中 */
#pagination {
  width: 100%;
  margin: auto;
}

/* 导航栏魔改 */
/* 一级菜单居中 */
#nav .menus_items {
  position: absolute !important;
  width: fit-content !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
}
/* 子菜单横向展示 */
#nav .menus_items .menus_item:hover .menus_item_child {
  display: flex !important;
}
/* 这里的2是代表导航栏的第2个元素，即有子菜单的元素，可以按自己需求修改 */
.menus_items .menus_item:nth-child(5) .menus_item_child {
  left: -40px;
}
.menus_items .menus_item:nth-child(6) .menus_item_child {
  left: -64px;
}

/* 黑夜霓虹灯 */
/* 夜间模式菜单栏发光字 */
[data-theme="dark"] #nav .site-page,
[data-theme="dark"] #nav .menus_items .menus_item .menus_item_child li a {
  text-shadow: 0 0 2px rgba(71, 145, 241) !important;
}

/* 手机端适配 */
[data-theme="dark"] #sidebar #sidebar-menus .menus_items .site-page {
  text-shadow: 0 0 2px rgba(71, 145, 241) !important;
}

/* 侧边栏个人信息卡片动态渐变色 */
#aside-content > .card-widget.card-info {
  background: linear-gradient(
    -45deg,
    #e8d8b9,
    #eccec5,
    #a3e9eb,
    #bdbdf0,
    #eec1ea
  );
  box-shadow: 0 0 5px rgb(66, 68, 68);
  position: relative;
  background-size: 400% 400%;
  -webkit-animation: Gradient 10s ease infinite;
  -moz-animation: Gradient 10s ease infinite;
  animation: Gradient 10s ease infinite !important;
}
@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* 黑夜模式适配 */
[data-theme="dark"] #aside-content > .card-widget.card-info {
  background: #191919ee;
}

/* 个人信息Follow me按钮 */
#aside-content > .card-widget.card-info > #card-info-btn {
  background-color: #3eb8be;
  border-radius: 8px;
}

/* 页面调节 */
/* 首页文章卡片 */
#recent-posts > .recent-post-item {
  background: var(--trans-light);
  backdrop-filter: var(--backdrop-filter);
  border-radius: 25px;
  border: var(--border-style);
}

/* 首页侧栏卡片 */
#aside-content .card-widget {
  background: var(--trans-light);
  backdrop-filter: var(--backdrop-filter);
  border-radius: 18px;
  border: var(--border-style);
}

/* 文章页、归档页、普通页面 */
div#post,
div#page,
div#archive {
  background: var(--trans-light);
  backdrop-filter: var(--backdrop-filter);
  border: var(--border-style);
  border-radius: 20px;
}

/* 导航栏 */
#page-header.nav-fixed #nav {
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: var(--backdrop-filter);
}

[data-theme="dark"] #page-header.nav-fixed #nav {
  background: rgba(0, 0, 0, 0.7) !important;
}

/* 夜间模式遮罩 */
[data-theme="dark"] #recent-posts > .recent-post-item,
[data-theme="dark"] #aside-content .card-widget,
[data-theme="dark"] div#post,
[data-theme="dark"] div#archive,
[data-theme="dark"] div#page {
  background: var(--trans-dark);
}

/* 夜间模式页脚页头遮罩透明 */
[data-theme="dark"] #footer::before {
  background: transparent !important;
}
[data-theme="dark"] #page-header::before {
  background: transparent !important;
}

/* 阅读模式 */
.read-mode #aside-content .card-widget {
  background: rgba(158, 204, 171, 0.5) !important;
}
.read-mode div#post {
  background: rgba(158, 204, 171, 0.5) !important;
}

/* 夜间模式下的阅读模式 */
[data-theme="dark"] .read-mode #aside-content .card-widget {
  background: rgba(25, 25, 25, 0.9) !important;
  color: #ffffff;
}
[data-theme="dark"] .read-mode div#post {
  background: rgba(25, 25, 25, 0.9) !important;
  color: #ffffff;
}

/* Bilibili视频适配 */
/*哔哩哔哩视频适配*/
.aspect-ratio {
  position: relative;
  width: 90%;
  height: auto;
  padding-bottom: 75%;
  margin: 3% auto;
  text-align: center;
}
.aspect-ratio iframe {
  position: absolute;
  width: 100%;
  height: 86%;
  left: 0;
  top: 0;
}

/* 加载动画 */
.loading-img {
  background: url(/images/avatar.webp) no-repeat center center;
  background-size: cover;
}

/* 最新文章图标 */
.newPost {
  position: absolute;
  top: 0;
  color: rgba(255, 255, 255, 0.92);
  padding: 0 15px;
  background-color: #49b0f5b9;
  border-radius: 0 0 10px 10px;
  right: 40px;
}
@media screen and (max-width: 600px) {
  .newPost {
    right: 0px;
    padding: 0 12px;
    border-radius: 0 10px 0px 10px;
  }
}

/* 左边悬浮按键 */
.contact-info {
  position: fixed;
  top: 22%;
  z-index: 200;
  left: -51px;
  transition: 0.4s;
}
.contact-info:hover {
  left: 0px;
}
.contact-info .option {
  cursor: pointer;
  position: relative;
}

.contact-info .option i {
  display: block;
  width: 50px;
  text-align: center;
  height: 60px;
  line-height: 60px;
  background: rgb(255, 255, 255);
  color: #b9b9b9;
  font-size: 20px;
  transition: 0.4s;
  border-radius: 0 10px 10px 0;
}

.contact-info .option:hover i {
  color: #3498db;
}
.contact-info .text {
  border-radius: 15px;
  position: absolute;
  height: 60px;
  width: 200px;
  background: rgba(255, 255, 255, 0.85);
  top: 0;
  z-index: -1;
  left: -136px;
  color: rgb(0, 0, 0);
  line-height: 60px;
  text-align: center;
  transition: 0.4s;
}
.contact-info .aplayertext {
  transition: none !important;
}
.aplayer {
  position: absolute !important;
}
.aplayer.aplayer-fixed .aplayer-body {
  left: -60px;
  position: absolute !important;
  width: 370px !important;
  transition: none !important;
  border-radius: 10px !important;
}
.aplayer.aplayer-fixed {
  left: -300px;
}
.contact-info .option:hover .aplayer.aplayer-fixed .aplayer-body,
.contact-info .option:hover .aplayer.aplayer-fixed {
  left: 0px;
}
.contact-info .option:hover .text {
  left: 60px;
}
.contact-info .blok {
  position: absolute;
  height: 60px;
  width: 100px;
  top: 0;
  z-index: -1;
  left: 0px;
}
.contact-info .bloktop {
  position: absolute;
  height: 75px;
  width: 100px;
  bottom: 0px;
  z-index: -1;
  left: 0px;
}
.contact-info .blokbottom {
  position: absolute;
  height: 75px;
  width: 100px;
  top: 0;
  z-index: -1;
  left: 0px;
}
.contact-info .option:hover .blok,
.contact-info .option:hover .bloktop,
.contact-info .option:hover .blokbottom {
  left: 0px;
}
.contact-info .option:hover .aplayertext {
  left: 60px !important;
  width: 370px !important;
  background: transparent !important;
}
.aplayer.aplayer-fixed .aplayer-miniswitcher {
  border-radius: 0 10px 10px 0 !important;
}
.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body {
  transition: 0.28s !important;
  border-radius: 10px !important;
}
.aplayer .aplayer-pic {
  height: 60px !important;
}
.aplayer .aplayer-info {
  height: 60px !important;
}
.aplayer.aplayer-narrow .aplayer-body {
  height: 60px;
}
.aplayer .aplayer-list.aplayer-list-hide {
  margin-bottom: 59px !important;
}
.aplayer.aplayer-fixed .aplayer-list {
  margin-bottom: 62px !important;
  max-height: 240px !important;
}
.aplayer.aplayer-fixed .aplayer-info {
  transition: none !important;
}
.aplayer.aplayer-narrow .aplayer-body {
  height: 60px !important;
}
.aplayer.aplayer-narrow .aplayer-body,
.aplayer.aplayer-narrow .aplayer-pic {
  border-radius: 10px 0 0 10px !important;
}
.aplayer.aplayer-fixed {
  border-radius: 10px !important;
}
.aplayer .aplayer-pic {
  border-radius: 0 0 0 10px !important;
}
.aplayer.aplayer-fixed .aplayer-list {
  border-radius: 10px 10px 0 0 !important;
}
[data-theme="dark"] .contact-info .option i {
  background: rgb(22, 22, 22);
  color: #b9b9b9;
}
[data-theme="dark"] .contact-info .text {
  background: rgba(23, 23, 23, 0.85);
  color: rgba(255, 255, 255, 0.92);
}
@media screen and (max-width: 1300px) {
  .contact-info {
    display: none !important;
  }
}
.aplayer {
  opacity: 0.93 !important;
}
[data-theme="dark"] .aplayer {
  background: rgb(22, 22, 22) !important;
  color: rgb(255, 255, 255);
}
[data-theme="dark"] .aplayer.aplayer-fixed .aplayer-body {
  background: rgb(22, 22, 22) !important;
  color: rgb(255, 255, 255);
}
[data-theme="dark"] .aplayer .aplayer-list ol li:hover {
  background: #3b3b3b;
}
[data-theme="dark"] .aplayer .aplayer-list ol li.aplayer-list-light {
  background: #686868;
}
[data-theme="dark"] .aplayer .aplayer-info .aplayer-controller .aplayer-time {
  color: #d4d4d4;
}
[data-theme="dark"] .aplayer .aplayer-list ol li .aplayer-list-index {
  color: #d4d4d4;
}
[data-theme="dark"] .aplayer .aplayer-list ol li .aplayer-list-author {
  color: #d4d4d4;
}
[data-theme="dark"]
  .aplayer
  .aplayer-info
  .aplayer-controller
  .aplayer-time
  .aplayer-icon
  path {
  fill: #d4d4d4;
}

.contact-info .text .strip {
  border-radius: 5px;
  position: absolute;
  height: 36px;
  width: 5px;
  background: rgba(20, 163, 230, 0.8);
  top: 12px;
  z-index: -1;
  right: 4px;
  transition: 0.4s;
}
.aplayertext .strip {
  transition: none !important;
}
.contact-info .option:hover .aplayertext .strip {
  background: transparent;
}
[data-theme="dark"] .aplayer .aplayer-miniswitcher {
  background: rgba(23, 23, 23, 0.85);
}
.aplayer .aplayer-miniswitcher .aplayer-icon:hover path {
  fill: #3498db;
}
[data-theme="dark"] .contact-info .option:hover i {
  color: #3498db;
}
.contact-info .option .text .post-reward .tip-button__text {
  margin: 25px !important;
}
.post-reward .reward-button .reward-main .reward-all {
  border-radius: 12px !important;
}
.contact-info
  .option
  .text
  .post-reward
  .reward-button
  .reward-main
  .reward-all {
  z-index: 999 !important;
}
[data-theme="dark"] .contact-info .option .text .post-reward .tip-button {
  border: solid 2px rgba(236, 233, 233, 0.8);
  background: #043749d0;
}
