@font-face {
  font-family: "iconfont"; /* Project id 3826679 */
  /* Color fonts */
  src: url("/source/fonts/iconfont.woff2") format("woff2"),
    url("/source/fonts/iconfont.woff") format("woff"),
    url("/source/fonts/iconfont.ttf") format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhuye1:before {
  content: "\e619";
}

.icon-youxiang:before {
  content: "\e666";
}

.icon-gongju:before {
  content: "\e668";
}

.icon-sousuo:before {
  content: "\e608";
}

.icon-wenjianjia:before {
  content: "\e60b";
}

.icon-huabanfuben:before {
  content: "\e605";
}

.icon-MBEfenggeduosetubiao-tupian:before {
  content: "\e641";
}

.icon-guidang:before {
  content: "\e6b9";
}

.icon-archive-fill:before {
  content: "\e610";
}

.icon-kongjian:before {
  content: "\e602";
}

.icon-shejiaoAPP:before {
  content: "\e6bc";
}

.icon-biaoqian2:before {
  content: "\e611";
}

.icon-gongju1:before {
  content: "\e61b";
}

.icon-wenjianjia1:before {
  content: "\e61a";
}

.icon-xinfeng:before {
  content: "\e61c";
}

.icon-QQ:before {
  content: "\ea94";
}

.icon-github-fill:before {
  content: "\eac8";
  font-size: 20px;
}

.icon-fenleiguanli:before {
  content: "\e60f";
}

.icon-liuyan:before {
  content: "\e61e";
}

.icon-xiangce:before {
  content: "\ffdd";
}

.icon-lianjie-02:before {
  content: "\e631";
}

.icon-guanyu-banben:before {
  content: "\e6f9";
}

.icon-yinlehe:before {
  content: "\e676";
}

.icon-web_weixin:before {
  content: "\e647";
}

.icon-fanjutuijian:before {
  content: "\e6d5";
}

.icon-wodezhuifan:before {
  content: "\e6d8";
}

.icon-shejiaoxinxi:before {
  content: "\e620";
}

.icon-bofangqi:before {
  content: "\e629";
  font-size: 20px;
}
